@import url('./layout/normalize.css');
@import url('./layout/base.css');
@import url('./blocks/menu.css');
@import url('./blocks/header.css');
@import url('./blocks/contacts.css');
@import url('./blocks/hero.css');
@import url('./blocks/advantages.css');
@import url('./blocks/btn.css');
@import url('./blocks/features.css');
@import url('./blocks/cost.css');
@import url('./blocks/accessories.css');
@import url('./blocks/footer.css');