html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #181617;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper--bg {
  background: url('../../img/hero_banner.jpg') top center;
  background-repeat: no-repeat;
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 1800px;
  max-height: 7254px;
}
 
a {color: inherit;}

a { text-decoration: none;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {list-style: none;}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.img {
  max-width: 100%;
}

.container {
  margin-bottom: 100px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 60px;
}