.contacts {
  font-style: normal;
  position: relative; 
  font-size: 20px;
  display: flex;
  gap: 30px;
}


.contacts_conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__dropdown-title:hover {
  text-decoration: underline;
}

.contacts__text {
  font-size: 11px;
}

.contacts_phone {
  text-decoration: none;
  font-size: 26px;
}
.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: none;
  position: relative;
 display: inline-block;
}

.socials__list {
  display: flex;
  gap: 20px;
}


.header__col--align-right {
  display: flex;
    align-items: center;
}

.contacts__phone:hover {
  color: #A31886;
  transition: 1s;
}